[2016-06-13 10:45] ha7dcd opened #1 "Adding NTP based frequency calibration"
Might be a good idea to re-use the NTP frequency calibration from the RPi WSPR transmitter code:
https://github.com/JamesP6000/WsprryPi
Thus no need for TCXO or any sophisticated reference clock.

The guys in that repository used a very clever solution to make Hz precision calibration during the WSPR transmission using NTP_adjust fucntion. I've used too last time to calibrate my RTL-SDR receiver s

[2016-06-13 16:55] bammi opened #2 "Support for up converters"
Please will you add support for up converters (HamitUp, Spyverter) as most people are more likely to use WSPR on the HF frequencies rather than VHF in you sample. It is very confusing what to enter on the command line, say i am wanting to monitor 20M WSPR frequency of 14.0956 MHz and my up converter is HamItUp that adds 125MHz. What would be the exact command line that i would issue for wsprd for

[2016-06-13 21:37] ha7dcd commented on #1
I was thinking about this and also a friend of mine noticed that as RPi and the RTL-SDR dongle uses different clock sources this is difficult. Thanksfully there is quite a big leakage from the RPi GPIO4 when WsperryPi transmit WSPR mode so it can be picked up with the RTL-SDR dongle for calibration.

Just an idea.
Thanks for this great project!
73

[2016-06-13 23:36] Guenael commented on #2
Hi Jwahar,
Done. I added -u option, to specify your your upconverter frequency (ex. 125M). It does the same job of the offset option... but it's now a separate option.
./rtlsdr_wsprd -f 14.0956M -c A1XYZ -l AB12cd -g 29 -u 125M
Good day

[2016-06-13 23:36] #2 closed

[2016-06-13 23:46] bammi commented on #2
Thanks so much appreciate it!

Enjoy the DYACs - Sent from my IPhone

[2016-06-14 00:06] Guenael commented on #1
Hi Zoltan,
Very good idea! But in the same time I don't want limit this project to Raspberry-Pi only (works fine on BeagleBone too). And for this idea, the code could be integrated or kept separately. Maybe a rtlsdr-pi-wsprd fork ?
In the same time, I think there is other way to calibrate RTL-SDR devices. In theory, you could check the timing of the buffer sent over USB, and deduce the frequency o

[2016-06-14 06:11] ha7dcd commented on #1
Hello Guenael,

Checking the timing of the buffer sent over USB is a good idea, however I
believe the RTL-SDR's xtal stability is the problem, not the card computers
xtal this case.

An other cross platform and universal solution could be to calibrate to the
WWV reference stations: https://en.wikipedia.org/wiki/WWV_(radio_station)

On Tue, Jun 14, 2016 at 2:06 AM, Guenael, VA2GKA <notifications@gi

[2016-06-14 22:38] Guenael opened #3 "Rough approximation error on reported frequency"
Bad double<>float conversion, and imprecise frequency reported.
Todo : rollback with double

[2016-06-15 20:48] sm3ulc opened #4 ""Caught signal 11" - looping after one period"
I run "rtlsdr_wsprd -c xxx -l xxxx -g 20 -p -23 -o 125000000 -f 10138.6k" on my rpi-1B and it starts ok and run one period and right after just prints "Caught signal 11" in a loop. Unhandled crash?

Trace of one run can be found here: (started some 77s before interval)

http://www.update.uu.se/~davidl/tmp/wsprd-trace

[2016-06-16 00:01] Guenael commented on #4
Well, it could be a buffer overflow or a problem with the driver callback (low or no response).
Your rpi 1 has only one core, and the decoding process takes a lot of CPU. I use 2 threads and if this  second thread used for decoding takes too much CPU, the driver could not be able to push the samples.
I'm not sure, but it could be good explanation.
Could you try with a rpi 2 ?
A solution could be t

[2016-06-16 00:02] Guenael commented on #4
BTW, thx for reporting this issue.

[2016-06-16 00:26] Guenael commented on #4
Benchmark : https://www.raspberrypistarterkits.com/2016/03/04/raspberry-pi-3-pi-2-pi-b-benchmark-review/

[2016-06-16 20:18] sm3ulc commented on #4
Have been running a few tests on the 1B:

110s raw 250 kS IQ and demodulated with csdr to wav with 12k samplerate.
The decoding with wsprd (from wsjt) takes 4 seconds.
rtlsd_wsprd takes about 23% of cpu when running.
Should be pretty fine with the cpu-power i think. Maybe adding lower priority to the decodingthread in order to not disturb the realtime sampling.

I don't own a pi2 so can't do testi

[2016-06-16 23:53] Guenael commented on #4
Ok, I will try to fix this using pthread_attr_setschedparam.
Note to myself :
#include <pthread.h>
#include <sched.h>

pthread_attr_t tattr;
pthread_t tid;
int ret;
int newprio = 20;
sched_param param;

/* initialized with default attributes */
ret = pthread_attr_init (&tattr);

/* safe to get existing scheduling param */
ret = pthread_attr_getschedparam (&tattr, &param);

/* set the priority; oth

[2016-06-24 22:41] Guenael commented on #3
fixed in version 0.2

[2016-06-24 22:41] #3 closed

[2016-06-24 22:41] #1 closed

[2016-06-25 01:00] Guenael commented on #4
Hello,
Pthread priority added, but I have no RPi-1 to test this functionality.

[2016-06-25 01:14] Guenael commented on #4
Issue not solved, same problem reported (by VE2VAX)

[2016-06-25 04:00] ve2vax commented on #4
use  the  -S  (single pass mode, no subtraction (same as original wsprd)).

Solved the problem for me.
 ./rtlsdr_wsprd -f 144.489M -c VE2VAX -l FN35JO -a 1 -S

[2016-06-25 04:32] ve2vax commented on #4
The problem , happen when dec_options.subtraction is set  =1

[2016-06-25 13:28] sm3ulc commented on #4
Is the code pushed?

Skickat från min Samsung-enhet

-------- Originalmeddelande --------
Från: "Guenael, VA2GKA" <notifications@github.com>
Datum: 25-06-2016  03:00  (GMT+01:00)
Till: Guenael/rtlsdr-wsprd <rtlsdr-wsprd@noreply.github.com>
Kopia: sm3ulc <sm3ulc@gmail.com>, Author <author@noreply.github.com>
Rubrik: Re: [Guenael/rtlsdr-wsprd] "Caught signal 11" - looping after one
  period (#4)

He

[2016-06-25 17:45] Guenael commented on #4
Yep, the code is updated, but I'm not sure if the priority works really. I'll need to take time to check this point carefully.
@ve2vax : The fano alog take more processing (option substraction). The program crash when the callback is not available. The only way to fix this is using a very low priority. But for now, it don't works...
BTW, thanks for helping.

[2016-06-25 23:33] sm3ulc commented on #4
I can test code monday night. Utc+1 :)
// David
Skickat från min Samsung-enhet

-------- Originalmeddelande --------
Från: "Guenael, VA2GKA" <notifications@github.com>
Datum: 25-06-2016  19:45  (GMT+01:00)
Till: Guenael/rtlsdr-wsprd <rtlsdr-wsprd@noreply.github.com>
Kopia: sm3ulc <sm3ulc@gmail.com>, Author <author@noreply.github.com>
Rubrik: Re: [Guenael/rtlsdr-wsprd] "Caught signal 11" - looping

[2016-07-01 11:37] sm3ulc commented on #4
Hi all!

Finally had the ability to do a quick test on an rpi1b. Seem to get some
runs with no signal11 stops and some runs it seems ok.

73

// David

On Sun, Jun 26, 2016 at 1:33 AM, David <sm3ulc@gmail.com> wrote:

[2016-07-03 15:36] Guenael commented on #4
Hello,
I fixed a malloc bug present only with gcc5 (usually the case with Raspberrian).
Please retest. Thx.

[2016-07-14 01:53] Guenael commented on #4
I tested this update on RPi 1 during 48h without issue. But some versions of Raspberian react badly with USB, I added a note to the README file :

_I noticed some disconnection problems with USB port while using Raspbian Jessie (2016-05-27-raspbian-jessie-lite.img). I rollbacked to Raspbian Wheezy (2015-02-16-raspbian-wheezy.img) and the problems solved by themself magically... For now, I have not

[2016-07-14 01:53] #4 closed

[2016-09-18 07:15] sm3ulc opened #6 "Issue with offset setting?"
Have spent a number of hours of trying to calibrate center via the offset setting and are seing larger steps in the detected fq than the steps used.

I run a testsignal via WsprryPi which as a sideeffects gives of harmonies at 100 Hz intervals from the center signal calibrated to "exact" center of  the wspr-interval.
command: sudo ./wspr -p -40 SM3ULC JO89ul 10 30m

I've patched the code for max s

[2016-09-29 05:34] Guenael commented on #6
Thx for this report,
Could you confirm the version used, it is up to date ? There was a float approx. error by the past. (git pull and check any diff).
Good day

[2016-10-01 09:08] sm3ulc commented on #6
cat .git/refs/heads/master
7aeedf3e1e25a324e64d3b3b9e15bb19372393d3
(cloned 16/9)

Is the version I'm running on the nodes. Also the swing extension (fmin/fmax) from the original code does not seem to work. Get about +-125 Hz, but that maybe never worked in the original wsprd-code. Checking diffs...

[2016-10-01 15:53] Guenael commented on #6
OK, I got it, I will check double -> float conversions. It could be an approx error on the main frequency. By the past, I updated FFTW to use float instead of double (only useful with a Raspberry 1, to save computation time). Thanks for your help.

[2016-10-01 21:30] Guenael commented on #6
I made additional tests with my similar project airspy-wsprd. The backend (fano.c  nhash.c  tab.c  wsprd.c  wsprd_utils.c  wsprsim_utils.c) is exactly the same, and there is no offset issue. So I suspect an alignment problem inside the rtlsdr library.

[2016-10-01 21:48] Guenael commented on #6
Confirmed, using GQRX, when the LO is adjusted, the frequency only change by gap. Example @144MHz : +189Hz, +62Hz, +183Hz, +62Hz. This is wired. I have to look the rtlsdr code...
Well, this is not related to this code and this project, but I will keep this issue open.

[2016-10-02 08:00] sm3ulc commented on #6
Great with confirmation at least. One featurerequest for calibration could be saving the IQ-block in the c2-format for possible viusalization. Then any signal could be used, not just WSPR.

[2016-10-02 14:06] Guenael commented on #6
I will add an extra digital offset alignment (outside the LO). About saving samples in the c2 format, the code is already here, but only used as debug purposes (commented). I will add an option, but using this option will crash on any raspberry pi, (problem related to the SD card access latency).
Add. note : The offset problem is only on r820 devices. E4000 works fine for example.

[2016-10-06 03:52] Guenael commented on #6
Issue open for rtl-sdr : https://github.com/steve-m/librtlsdr/issues/33
About saving the sample, it crash the application on Raspberry Pi (high priority memory card access & USB rtl are not friends...)
If you want save some sample anyway, uncomment this code and rebuild :

        /* DEBUG -- Save samples
        printf("Writing file\n");
        FILE* fd = NULL;
        fd = fopen("samples.bin",

[2016-10-06 03:52] #6 closed

[2017-01-27 15:10] zodoczi commented on #4
Hello,

I see the same problem, using RPi 3 with 2017-01-11-raspbian-jessie.img

73,
Zoltan

[caught_signal_11.txt](https://github.com/Guenael/rtlsdr-wsprd/files/735529/caught_signal_11.txt)

[2017-01-28 21:43] zodoczi opened #10 ""Caught signal 11" on RPi 3"
Hi,

I see the same problem, using RPi 3 with "2017-01-11-raspbian-jessie.img"

When using -S switch it disappears.
Does anyone know what causing this?

Thanks,

`pi@raspberrypi:~/rtlsdr-wsprd $ ./rtlsdr_wsprd -f 14.0956M -c HA7DCD -l JN97ML -d 2
Found 1 device(s):
  0:  Realtek, RTL2838UHIDIR, SN: 00000001

Using device 0: Generic RTL2832U OEM
Found Rafael Micro R820T tuner
Enabled direct samplin

[2017-01-29 02:43] Guenael commented on #10
Hello,
This bug is documented and not related to the code. Overall, the problem is related to the SDcard access. I will remove the multi-pass method to avoid this kind of problem. But for now, you can use "-S" option.
Good day

[2017-01-29 02:43] #10 closed

[2017-04-08 20:27] andrewbnortham commented on #10
Adding sudo in front of the command fixed the problem for me, raspberry pi 3. KE8FZT

[2017-06-05 19:50] N5RWK opened #11 "Add option to run for specified number of cycles"
Thanks for a very useful program.  My Pi 3/RTL-SDR is running very nicely, listening on 20m and reporting up to wsprnet.org.

I was wondering if you could add an option to run rtlsdr-wsprd for a specified number of 2-minute receive cycles, then have the program exit.  For example, if the option was "-t 30", rtlsdr-wsprd would listen for a total of 60 minutes and exit.

This would allow me to creat

[2017-06-07 02:53] Guenael commented on #11
Hello Roger,
There is other ways to stop a service with Linux (using crontab for example), but why not, and this is a minor update. I will check to write a patch this week-end.
Good day,

[2017-06-07 14:30] ve2vax commented on #11
Hi , you can also , run it with a script , that will span many band . or  put a sleep and run again .
see in ve2vax git ://
rtlsdr-wsprd/auto-wspr.sh

73

[2017-06-08 01:09] N5RWK commented on #11
Guenael,

Thanks, I appreciate it!  My C programming skills are rather suspect at best :-)  I looked at ve2vax's script, he did a nice job with it.  But seems a touch more elegant to do it from within the program.

73
Roger N5RWK

[2017-06-12 14:43] zodoczi opened #12 "selecting device"
Is there a command line option to select a receiver device from multiple ones?
In "rtl_sdr" the "-d" command line switch works for that, but in rtlsdr-wsprd it looks like doesn't have effect.

73 and Thanks,
Zoltan

[2017-06-21 03:47] Guenael commented on #11
Done. Use "-n 9" for 8 full iterations (the last one will be truncated due to the threading)
73

[2017-06-21 03:47] #11 closed

[2017-06-21 03:51] Guenael commented on #12
Hello Zoltan,
It's possible to add this feature, using the rtl_index.
The -d is already used for direct sampling. But I will see to include this feature the next week-end.
73

[2017-06-21 13:40] N5RWK commented on #11
Guénael,  thanks very much!
Roger N5RWK

[2017-06-23 04:35] Guenael commented on #12
Done, it should work now using "-i" option. To use your second device, use "-i 1".
Exemple :

$ ./rtlsdr_wsprd -f 144.489M -c VA2GKA -l FN35fm -g 29 -i 1
Found 2 device(s):
  0:  Realtek, RTL2838UHIDIR, SN:
  1:  Realtek, RTL2838UHIDIR, SN: 00000001

Using device 1: Generic RTL2832U OEM
Found Rafael Micro R820T tuner

Starting rtlsdr-wsprd (2017-06-23, 04:31z) -- Version 0.2
  Callsign     : VA2GK

[2017-06-23 04:35] #12 closed

[2017-06-24 18:29] DickvanNoort opened #13 "Adding date and time to the decoding result."
Hi Guenael,
I see you are currently busy are making changes.
Could you consider adding the date and time to the results like this:

2017-06-24, 06:38z Spot : -21.80 -0.55  28.125172  0  G7FYO IO82 33
2017-06-24, 06:40z Spot : -15.65 -1.85  28.125190  0  IK1WVQ JN44 27
2017-06-24, 06:42z, No spot
2017-06-24, 06:44z Spot : -17.16 -0.91  28.125129  0  EA1FAQ IN71 37

It makes it much easier to tune y

[2017-06-24 18:47] DickvanNoort opened #14 "Select device based on serialnumber or device-ID."
For those having multiple RTLSDR dongles on their RPi, it is very handy if the intended dongle can be selected using its serial-number.

Programs that support his feature and are available in github are
acarsdec at https://github.com/TLeconte/acarsdec
and
dumpvdl2 at https://github.com/szpajder/dumpvdl2

Cheers,
Dick (PA-2015)

[2017-07-01 02:03] Guenael commented on #13
Hello,
It's easy to implement, but the logs are already uploaded on WsprNet with all these information.
Anyway, I push a mod soon.
Good day,

[2017-07-01 02:03] #13 closed

[2017-07-01 11:42] DickvanNoort commented on #13
Thank you, much appreciated.
Having all the details in a local file makes it easier to experiment with settings and equipment..

cheers,
Dick PA2015

From: Guenael, VA2GKA
Sent: 1 July, 2017 04:03
To: Guenael/rtlsdr-wsprd
Cc: DickvanNoort ; Author
Subject: Re: [Guenael/rtlsdr-wsprd] Adding date and time to the decoding result. (#13)

Hello,
It's easy to implement, but the logs are already uploaded

[2017-08-27 18:39] DickvanNoort opened #15 "Many entries like this " Spot : -19.11 2.33 28.125194 0 <...> A000AA 63""
Hello Guenael,

My log shows quite a fewl entries like this
"Spot : -19.11 2.33  28.125194  0  <...> A000AA 63"
As a very beginner in C programming I searched the source and found this in "wsprd_utils.c"

      // I don't know what to do with these... They show up as "A000AA" grids.
      if( ntype == -64 ) noprint=1;

Are these lines referring to the entries I find in my the log?

73,
Dick

[2017-12-23 14:05] F4HTB opened #16 "Caught signal 11"
Hello Dear OM,

I try to make a multi RTL-SDR wspr decoder.
Your soft is very helpfull but i have a new bug.
I have made it with last raspbian version at this time.

When come the time to decode, i get only "Caught signal 11" message and software stop...

Can you help me?

[2017-12-23 14:29] F4HTB commented on #16
I have try to get the error:

I have add -g in makefile to get debug mode.
dgb
(gdb) file rtlsdr_wsprd
(gdb) run -f 7.038600M -c F4HTB -l JN38TG -a 0 -u 125M -g 3 -p 40 -i 0

Starting program: /home/pi/rtlsdr-wsprd/rtlsdr_wsprd -f 7.038600M -c F4HTB -l JN38TG -a 0 -u 125M -g 3 -p 40 -i 0
[Thread debugging using libthread_db enabled]
Using host libthread_db library "/lib/arm-linux-gnueabihf/libthre

[2017-12-23 15:51] F4HTB commented on #16
Ok i have search a litle bit.
I seem that in wsprd.c it use get_wspr_channel_symbols(call_loc_pow, hashtab, channel_symbols) in line 774
So wsprsim_utils.c send something in symbols var that is a pointer to channel_symbols but when we comme back to wsprd.c in line 775, and we try to use channel_symbols, channel_symbols look like empty.

[2017-12-23 17:01] F4HTB commented on #16
Ok I am not a profesionnal coder but i found that:
Durring my test, when i add code for print of channel_symbols like this:

                    if( get_wspr_channel_symbols(call_loc_pow, hashtab, channel_symbols) ) {
                        for ( i = 0; i < (NSYM -1); ++i )
                        {
                                printf("%c", channel_symbols[i]);
                        }

[2017-12-25 00:45] Guenael commented on #16
Hello, nothing new here. "Caught signal 11" is related to the availability of the data through the USB port.
Basically, there is two cases :
- the processing power is too low to deal with the decoding & receiving new samples
- writing data on the memory device (for further deep search) took to much time.
To fix this, disable the deep search. Make a try using -S an/or -Q options.
Good luck and Merr

[2017-12-25 20:31] F4HTB commented on #16
Hello Guenael,
Thank you for your reply.
Disabling the deep search would drop the weapons ...
I would like to develop a network of WSPR all-band receivers.
As I have seen in many other projects, the cheaper it is, the better.
I already have a model at home with a RPI3 + 12 rtl sdr that I will certainly synchronize on a TCXO.

I'm looking for a light project like yours, because by doing tests direc

[2017-12-25 23:49] Guenael commented on #16
Le problème ne vient pas du code de cette application, mais d'une modification qui a été faite au cours de la maintenance/évolution de Rasberian. Ce changement n'est pas critiquable auprès de la team de Rasberian, c'est juste un choix, qui privilégie certains types d'accès plutôt que d'autres.

Le problème n'existe en général pas sur un PC classique et n'était pas la sur les vielles version de Ras

[2017-12-31 00:23] #16 closed

[2018-01-24 15:24] rsnow opened #19 "First cycle is not decoded"
postSpots() is not reached on first iteration, it may be wsprDecoder() that isn't getting called, but I am not certain.  I wonder if this is related to the sig11's from subtraction method?

[2018-02-13 10:02] LanWolf commented on #14
An other additional request would be to use keenerd's rtl-sdr implementation, which support direct sampling on the RTL-SDR blog sticks.
(https://github.com/keenerd/rtl-sdr)

[2018-02-14 21:38] rbw42 commented on #4
Hi all,
I'm running a pi2 with jessie having the same problem.

Not sure if this code is still being maintained, but this problem appears to be a bug due to unsafe string handling in wsprsim_utils.c. There are several places where something could go wrong, but I have fixed this problem with a combination of stack smashing protection compiler options (which doesn't fix the actual problem) and chang

[2018-03-31 09:52] binaryer commented on #15
same !
Spot : -17.82 -4.60  50.294402  0  <...> A000AA 63
Spot : -17.89 0.67  50.294402  0  <...> A000AA 63
Spot : -16.81 1.24  50.294402  0  <...> A000AA 63
Spot : -19.18 -3.34 144.490402  0  <...> A000AA 63
Spot : -20.86 -3.28 432.301502  0  <...> A000AA 63

[2018-03-31 09:52] binaryer commented on #15
same !
[code]

[2018-06-27 16:59] marcotrevisan opened #20 "Supporting rx_tools / getting samples from stdin"
Hi Guenael,

I'm using rtlsdr-wsprd on Raspberry Pi 3. I'd like to use my SDRplay RSP2 Pro to take advantage of its much better RX performance.
At first, I was about to ask if it's possible to add support for rx_tools to enable more hardware, but then I considered what this tool is really focused on: WSPR reporting from a IQ data stream.

Hence the second and perhaps more useful question: why not

[2018-11-13 01:35] lu7did opened #21 "Support for PTT control line"
Hi,

If integrated with a WSPR beacon to form a transceiver a control line acting as a PTT is needed, it is required to turn own an amplifier but, more important, to switch the antenna from the rtl-sdr device and whatever it's being used for transmission (even the raspberry pi itself with programs such as WsprryPi or others).

Thanks in advance, Pedro LU7DID

[2019-10-18 06:10] d9394 opened #23 "Running error on openwrt"
![tmp20191018140437](https://user-images.githubusercontent.com/15172911/67069729-97831880-f1b0-11e9-9a8b-b14a6ae6714b.jpg)
 I have successed compile rtlsdr_wsprd from source on the openwrt(version 18.06.02) and cpu hardware is mt7621 chipset,  when I run it appear a error

[2019-10-18 06:57] d9394 commented on #23
![tmp20191018145256](https://user-images.githubusercontent.com/15172911/67072445-770a8c80-f1b7-11e9-9f97-197e019acdb8.jpg)
after add some checkpoint

[2019-10-18 16:54] d9394 commented on #23
[putty.log](https://github.com/Guenael/rtlsdr-wsprd/files/3744939/putty.log)
 log file with command: strace -tt rdlsdr_wsprd

[2020-09-09 01:37] alexandrealvesneto opened #25 "callsign with 9 characters in length"
When I use a call sign with 9 characters in length
the Spot show a different call sign.

Example: I have a Tx transmitting via PU2790SWL call sign but rtlsdr-wsprd is reporting a
different call sign --> PU1QSK

Starting rtlsdr-wsprd (2020-09-09, 00:57z) -- Version 0.2
  Callsign     : PU2790SWL
  Locator      : GG66NL
  Dial freq.   : 21094600 Hz
  Real freq.   : 21094600 Hz
  PPM factor   : 0
  A

[2020-12-19 05:32] kpbenz commented on #16
Maybe a bit too late, but this fix, currently in review, solves the issue:
https://github.com/Guenael/rtlsdr-wsprd/pull/22/commits

[2020-12-24 13:07] Swell1 commented on #15
Analyzing the A000AA results, I am beginning to think that they are actually real spots. However either the script is not able to correctly decrypt certain combinations, OR some transmissions themselves have faulty encryption, OR the signal is too distorted for recovery.
This is based on the way is which certain frequencies are repeated often, suggesting that particular wspr beacons are being hear

[2020-12-24 13:10] Swell1 commented on #15
Another point is that, being also a beginner in C, and with reference to the first post above, the "ntype" for the "A000AA" spots is alw

[2020-12-24 13:11] Swell1 commented on #15
Sorry
Is always 63 whereas Guenael's comment would suggest it should be 64?

[2021-07-27 14:35] itstechpro opened #27 "OS version used with rtlsdr-wsprd"
I noticed that rtlsdr-wsprd was developed on Wheezy.  I'm running Buster on a Pi 3B+ and have also tried it on a Pi ZeroW.  Managed to get wsprd working but it usually stops after one to three hours.  If I restart without rebooting, wsprd sometimes fails to upload spots.

[2021-07-28 13:20] Swell1 commented on #27
I have used a Pi zero W till 4 months back with the latest raspbian, and continuously over days.

During March I noticed an upload problem with WSPR [at a temporary QTH] but put it down to the reported heavy load on the server since an occassional upload did take place. During last year I had lots of uploads with the same setup.

Have not started WSPR again after return to my QTH, will do so soon.

[2021-07-28 14:48] itstechpro commented on #27
Thank you.  Would appreciate your observations when you get a chance to
test.  I'm using VNC with a wifi connection to the Pi ZeroW.
73,
Jules-K2KGJ

On 7/28/2021 9:20 AM, Swell1 wrote:

[2021-11-25 08:18] IZ7BOJ commented on #27
Hi,
I managed to run rtlsdr_wsprd on Jessie distro and RPi 3B, but only with option "-S". A friend of mine managed to run it on Stretch distro. I'm trying to run on a Buster distro and RPi 3B but I can't. It doesn't decode anything, and the other strange behaviour is that I can't kill the application. If I do "sudo kill <pid>", it stays alive!
Anyone could help me?
73' Alfredo IZ7BOJ

[2021-11-25 08:27] IZ7BOJ commented on #13
Hi,
I forked a version which implements this feature: https://github.com/IZ7BOJ/rtlsdr-wsprd
I needed timestamps tu run a web dashboard which shows received spots: https://github.com/IZ7BOJ/WSPRd_web_interface
I hope this helps
Alfredo

[2021-12-01 00:00] Guenael commented on #27
-- Sorry for the (extra-long) delay, I just recovered my access to GitHub, and I was off radio activities --

Hi all,
About the stability issue, this MR below (just merged) could fix it. Try to rebuild the binary and test plz.
https://github.com/Guenael/rtlsdr-wsprd/pull/22

About the OS itself, I'm not an expert with RPi OS vs a regular Linux, it should didn't change anything, but I will test the

[2021-12-01 00:04] Guenael commented on #25
-- Sorry for the (extra-long) delay, I just recovered my access to GitHub, and I was off radio activities --

Hi @alexandrealvesneto,
I guess the pattern is the same with genuine versions of the WSPR decoder. The algo is designed to fit regular callsigns in a specific optimized format, and long format are not working properly (there is some documentation an the WSPR protocol).

You can double-chec

[2021-12-01 00:04] #25 closed

[2021-12-01 00:11] Guenael commented on #23
-- Sorry for the (extra-long) delay, I just recovered my access to GitHub, and I was off radio activities --

Hi @d9394 ,

Well, the end of the log didn't help too much...
[code]

Did you try with a similar project based on files only ?
Ex. https://github.com/k9an/old_wsprcan

It could be also an allocation issue. This MR (merged) could fix an issue related to this, but this one is pretty rare.
ht

[2021-12-01 00:11] #23 closed

[2021-12-01 00:15] Guenael commented on #21
Hi @lu7did ,

Technically, yep it should be easy to allocate a pin of the raspberry pi, and use it to drive a fet+relay.
I will not do this for this project right now, but I will do it for a next project, a FT8 transceiver based on RPi.
At some point, I will retro-fit this feature to rtlsdr-wsprd.

Thanks, 73,

[2021-12-01 00:15] #21 closed

[2021-12-01 00:20] Guenael commented on #20
-- Sorry for the (extra-long) delay, I just recovered my access to GitHub, and I was off radio activities --

Hi @marcotrevisan ,

This project is very focused on RTL devices, and I will not extend the device compatibility of this project.
I created an other project for Airspy devices for example, and for sure, it's possible to adapt wsprd to SDRplay.
But it's not in my plan, and I don't own this

[2021-12-01 00:20] #20 closed

[2021-12-01 00:22] Guenael commented on #19
-- Sorry for the (extra-long) delay, I just recovered my access to GitHub, and I was off radio activities --

Hi @rsnow ,

wsprDecoder should be called at all the time, not sure to understand your point.
If you have some logs, additional info / sequential screenshots, I can try to investigate.

73

[2021-12-01 00:22] #19 closed

[2021-12-01 00:29] Guenael commented on #14
-- Sorry for the (extra-long) delay, I just recovered my access to GitHub, and I was off radio activities --

Hi all,
I guess I missed this comment before adjusting some code by the past. This feature should be available with this option:
[code]

When I committed the first version of this tool, a Raspeberry Pi One was barely able to decode the spots in real-time (under 1min30). So, using different

[2021-12-01 00:29] #14 closed

[2021-12-01 00:32] Guenael commented on #15
-- Sorry for the (extra-long) delay, I just recovered my access to GitHub, and I was off radio activities --

Hi all,

Interesting issue, I never experienced this kind of bad report.
Can you provide a sample (wav file or c2 file) ?

Thanks, 73,

[2021-12-03 01:52] Guenael commented on #27
@IZ7BOJ Did you used another SD card? It could be an issue with the file system when using extensive search. Try again with -q -s options.
I compiled the latest version on a fresh `Raspbian GNU/Linux 10 (buster)` on a Raspberry Pi 4 and it works fine.

[2021-12-03 17:06] IZ7BOJ commented on #27
@Guenael  You anticipated me. I was writing that rtlsdr_wsprd works fine on a "bullseye" fresh image that I installed yesterday, sto the problem was on my previous operative system. I upgraded from stretch to buster with "apt dist-upgrade", maybe something went wrong.
Sorry for the false alarm and thank you for your effort

[2021-12-03 23:10] Guenael commented on #27
Happy to read that. Good job!

[2021-12-03 23:10] #27 closed

[2021-12-03 23:50] Guenael commented on #27
@IZ7BOJ I'm writing rtlsdr-ft8, do you want to test it?
(right now, I don't have any decent setup to use...)

[2021-12-03 23:57] Guenael opened #29 "reformat code to fit Google C++ Style Guide"
https://google.github.io/styleguide/cppguide.html

[2021-12-04 00:00] Guenael opened #30 "Setup a build pipeline for this project"
TODO: format check + build pipeline, to check any MR on master + build release system

Some idea to start with GitHub (not very familiar, I only known GitLab CI/CD system)

[code]

[2021-12-04 00:10] Guenael opened #31 "multispot report in one post"
use 1 connection to upload all the findings

[2021-12-04 00:11] Guenael opened #32 "post zero spot (& callsign of station) if nothing found"
missing feature, no spot is only printed in the console

[2021-12-04 08:06] Guenael opened #41 "multi-site upload"
ex. https://pskreporter.info

[2021-12-04 09:22] dforsi commented on #30
You may also consider the following tools based on Clang and available via apt-get:

- cppcheck
- iwyu
- clang-tools-11 (for scan-build)

All them seem to work fine with the current Makefile and I am about to open an issue with warnings found with cppcheck.

(BTW: glad to see that you are active again)

[2021-12-04 09:25] dforsi opened #42 "Possible resource leaks"
Running cppcheck *c in the rtlsdr-wsprd directory shows the following warnings and errors:
[code]

[2021-12-04 15:16] IZ7BOJ commented on #27
@Guenael I'm not very familiar with ft-8, but I will try!

[2021-12-04 19:02] Guenael commented on #42
Good point, I setup CodeQL on GitHub, but running this tool is good too!
I should include it in the pipeline.

But these errors are related to a some decoding options (ex. usehashtable), and I got some issues in the past, on Raspberry Pi devices, but not on regular x86 devices.
RaspberryPi FS is based on low performance SD-Card, and I'm not sure what is going on. It could be related to this findin

[2021-12-04 19:39] Guenael commented on #42
@dforsi I created this MR : https://github.com/Guenael/rtlsdr-wsprd/pull/45
but some additional tests are required.
I will also do some code reformat with `clang-format`, cannot read this code ^^

[2021-12-04 20:29] Guenael commented on #42
I guess I missing something on the `call6=strtok(NULL," ");` ...
I could created some impact/issue

[2021-12-04 20:29] Guenael commented on #41
Exemple with PSKreporter intergrated:
[code]

https://github.com/w1hkj/fldigi/blob/master/src/spot/pskrep.cxx
https://pskreporter.info/pskdev.html
https://pskreporter.info/pskreporter.zip  // DLL, useless

[2021-12-04 20:31] Guenael commented on #29
Done, with clang-format
[code]

[2021-12-04 20:31] #29 closed

[2021-12-04 20:59] Guenael commented on #30
Thanks for your comment & suggestion!
I integrated cppcheck & cpplint in the build pipeline. I will take a look on iwyu

[2021-12-04 20:59] #30 closed

[2021-12-04 21:10] Guenael commented on #27
@IZ7BOJ Well, this digimode drained all the traffic from CW ops... If you like easy contact, this is the place :)

[2021-12-04 23:35] dforsi commented on #42
I think that the problem is that memory is allocated here:

wsprd/wsprsim_utils.c:91:    call6 = malloc(sizeof(char) * 6);

and that pointer is overwritten here:

wsprd/wsprsim_utils.c:122:        call6 = strtok(pfx, " ");  // FIXME-CHECK

so you can't free the memory allocated.

This would be easiest fix, but I only compile-tested it an cppcheck'ed:

diff --git a/wsprd/wsprsim_utils.c b/wsprd/wsp

[2021-12-05 01:59] Guenael commented on #15
There are other reports with this `A000AA` pattern, and it could be a limitation issue.

If I understand correctly, when you transmit a callsign with a four character suffix, you can get this pattern.

[2021-12-05 01:59] #15 closed

[2021-12-07 18:36] mkarliner opened #59 "Does not run on 2 minute cycles"
![image](https://user-images.githubusercontent.com/1651042/145086730-779171b0-9da0-47b6-920b-111a387b57c3.png)

It seems to be running a cycle of 3 or 4 minutes.

[2021-12-07 19:42] sm3ulc commented on #59
Seems to run ok for me, but not spots:

./rtlsdr_wsprd -f 40m -d 2 -c x -l x -i 1 -n 4
Found 2 device(s):
  0:  Realtek, RTL2838UHIDIR, SN: 06001049
  1:  Realtek, RTL2838UHIDIR, SN: 00000001

Using device 1: Generic RTL2832U OEM
Found Rafael Micro R820T tuner
Enabled direct sampling mode, input 2

Starting rtlsdr-wsprd (2021-12-07, 19:35z) -- Version 0.3
  Callsign     : x
  Locator      : x
  Di

[2021-12-07 23:21] Guenael commented on #59
Well, I guess I broke something during the refactor or some update...

The next step is to include some testing in the build pipeline :)
Ex. a baseband IQ file to test the decoded output (but it's a very big file...)

@mkarliner @sm3ulc Thanks for these reports, I will investigate.

[2021-12-08 04:40] Guenael commented on #59
Note to the future myself: Diff back-end side:

[code]

[2021-12-08 04:53] Guenael commented on #59
@sm3ulc @mkarliner I rollback a change in the backend, could you double check and also try with -S -Q options? Thanks!

[2021-12-08 04:54] Guenael opened #61 "Unit tests, unit tests, unit tests, UNIT TESTS!!!"
To avoid breaking things again...

[2021-12-08 07:55] sm3ulc commented on #59
Note: Q needs "argument".

./rtlsdr_wsprd -f 40m -d 2 -c x -l x -i 1 -n 4 -S -Q q
Found 2 device(s):
  0:  Realtek, RTL2838UHIDIR, SN: 06001049
  1:  Realtek, RTL2838UHIDIR, SN: 00000001

Using device 1: Generic RTL2832U OEM
Found Rafael Micro R820T tuner
Enabled direct sampling mode, input 2

Starting rtlsdr-wsprd (2021-12-08, 07:25z) -- Version 0.3
  Callsign     : x
  Locator      : x
  Dial fr

[2021-12-08 09:24] mkarliner commented on #59
I'm afraid that didn't help. Also, appears to be decoding at 1 second past the minute instead of 50 secs past.
![image](https://user-images.githubusercontent.com/1651042/145182891-97b3cfef-47a0-4431-a470-637d92d56bf6.png)

[2021-12-08 10:39] mkarliner commented on #59
Also, does not terminate of -n 4
![image](https://user-images.githubusercontent.com/1651042/145194281-85acee43-94ce-4562-be56-609709a6ba77.png)

[2021-12-09 02:09] Guenael commented on #59
Thanks for your reports. I will write a self-test function, it will be easier.

[2021-12-10 05:41] Guenael commented on #61
self-test, read & write c2 file completed

[2021-12-10 05:41] #61 closed

[2021-12-10 05:46] Guenael commented on #59
I made an update, with to new functions:
- write (decimated signal file, to be able to inspect what is received)
- read function (future test / debug the decoder without an rtl)
- self-test/unit-test, to generate a signal and decode it.

The decoder works fine, so I guess it's an issue with the rtl interface code.
I rollback the compiler (to gcc) but I don't think it's the issue.

Anyway, addition

[2021-12-10 06:03] Guenael opened #66 "main argument function / getopt not working properly"

[2021-12-10 14:31] mkarliner commented on #59
I tried to do a pull, but it claimed to be up to date.
have you actually pushed to github?

[2021-12-10 15:29] mkarliner opened #67 "Feature request - run script"
I'd like to run something like https://github.com/JamesP6000/WsprryPi
in tandem with  rtlsdr-wsprd.

To do this, I'd like an option to run a script at defined intervals, so I
can trigger a T/R relay and run WsprryPi in single shot mode.

This would make an absolutely tiny full WSPR station.

[2021-12-10 18:18] mkarliner commented on #59
I've tried -t which says it works
I've also tried -w but it's not obvious how to use it, as I have no way to specify a file. the file appears to be rx_options.filename, but it's not clear where it is set.
Could you please tell me what test you would like run?
Also, it's doesn't seem to me that the issue is decodes, so much as the samples being taken at the wrong time (odd minutes) and at 4 minute

[2021-12-10 18:28] mkarliner opened #68 "Doesn't not exit on control C"
Catching a signal sets the rx_state.exit_flag, but  does not result in the program terminating.

[2021-12-11 04:45] Guenael commented on #68
Yep, I was on it... I guess the thread local variables are not sync with the parent. Or something like that.

[2021-12-11 04:52] Guenael commented on #67
Think you can do this easily, with this option:
[code]

If you set this option to one, and if your script wait one rtlsdr-wsprd to exit, then you can switch & TX. It could work.

I noticed rtlsdr-wsprd is reluctant to quit properly... Another bug related to my management with pthread. Not an easy one.

[2021-12-11 04:52] #67 closed

[2021-12-11 07:39] Guenael commented on #68
Works fine on an x86_64, but not on a Raspberry Pi.
@mkarliner Did you experience this issue on an RPi?

[2021-12-11 07:55] Guenael commented on #66
getops was badly configured for some parameters (arg expected)
fixed in https://github.com/Guenael/rtlsdr-wsprd/pull/70

[2021-12-11 07:55] #66 closed

[2021-12-11 07:56] Guenael commented on #42
should be fixed now, but I will rework a part of the backend with a more recent version of wsprd.

[2021-12-11 07:56] #42 closed

[2021-12-11 08:05] Guenael commented on #59
I hope this issue is solved now.
- The decoder works fine, self-test pass, and a reference iq file is decoded successfully.
- I reworked the downsampler, and when saving an IQ files (-w option), the spectrum looks fine (WGN for me, no antenna setup).
- If it's not working for you, please save an IQ file and share it
- And if you can, try with an x86 machine too (not only a RaspberryPi). Double-che

[2021-12-11 11:18] sm3ulc commented on #67
Great!

On Sat, Dec 11, 2021 at 5:52 AM Guenael, VA2GKA ***@***.***>
wrote:

[2021-12-11 12:52] mkarliner commented on #59
Debian results: Time cycle all over the place... 1 minute sometimes 2.
![image](https://user-images.githubusercontent.com/1651042/145677120-3ab1831c-b5f0-496b-9421-55a55c98952a.png)

[2021-12-11 13:02] mkarliner commented on #59
I couldn't get a recording to work on the RPi, here is one from Debian (no spots
[foobar.f_2021-12-11_12-55-59.zip](https://github.com/Guenael/rtlsdr-wsprd/files/7697047/foobar.f_2021-12-11_12-55-59.zip)
)

Git won't take the .i suffix, so I've renamed this to .zip - hope this works.

[2021-12-11 16:47] Guenael commented on #59
@mkarliner Ok, I took a look on this sample, and there is no visible signals (only white gaussian noise). But I also double checked the command your started on your previous screenshot, and I'm not sure what you trying to do. Quick questions:
- Did you use a transverter for moving your HF signal up to VHF? Because:
  - You don't use any direct sampling option
  - You don't use any upconverter opti

[2021-12-12 20:00] Guenael commented on #59
For any further test, please use a Linux x86 machine, and not a Raspberry Pi.
I'm not sure what's wrong with the RPi, but there are:
- Timing issue (with time_t & struct timeval)
- Sampling issue (should sample at 2.4MHz but it's more close to 1.8MHz in practice

[2021-12-13 16:00] mkarliner commented on #59
Yes, you are righ about me missing out the -d 2 on my last test - my bad.
Testing on x86 is tricky, I don't have an x86 in the garden, and where I do, there is too much QRM.
The last test I did, I used the rtl_tcp on the Pi to GQRx and WSJTX on my Mac and got WSPR decodes.
I then ran rtlsdr_wsprd and got no spots, but at 6 minute (even) intervals.

I assume that each two minutes, it should either

[2021-12-14 04:55] Guenael commented on #59
I conducted some other test, on a RPi 2 & 3, with a legacy version (0.2) and a new one.

For both, `rtlsrd-wsprd` exceeded the acquisition time, because it was not able to get/process all the samples (a fixed amount of data are required, so it takes longer).

CPU processing is in the roof, for both `rtlsdr_ft8d` & `rtlsdr_ft8d` apps:
[code]

I'm confuse, nothing changed, it my legacy app, and this

[2021-12-14 08:58] mkarliner commented on #59
I tried exactly the same thing yesterday! This explains the timing issues.
100% CPU on RPi 3a +
I suspected that the threads might be running on multiple cores and interfering with each other in ways that didn't happend five years ago, so I put maxcpus=1 in /boot/cmdline.txt and the result was the same.
So, it's not a multicore issue.
I've tried a fork of your code from 5 years ago, result was the

[2021-12-14 23:47] Guenael commented on #59
@mkarliner Some hope!! I finally found the issue :tada:
I tested an old version of Raspbian, and the acquisition time was fine (with 14% CPU on a RPi3). The exit was also fine with a CTRL-C.

I will continue my tests to try to identify the differences between this old version of the OS and the new one.

FYI, I used this image:
https://downloads.raspberrypi.org/raspbian_lite/images/raspbian_lite-20

[2021-12-14 23:49] Guenael commented on #68
Related to the PiOS image used, and possibly to some pthread issue.
Works fine on Linux x86_64, and an old version of Raspbian.
I will update the README file.

[2021-12-14 23:49] #68 closed

[2021-12-15 00:11] Guenael commented on #27
@IZ7BOJ what version did you used exactly?
The legacy one ?
https://downloads.raspberrypi.org/raspios_oldstable_lite_armhf/images/raspios_oldstable_lite_armhf-2021-12-02/

[2021-12-15 00:23] dforsi commented on #59
The decoder works fine with .c2 files saved by wsjt-x if we skip the first 26 bytes, eg with dd:
dd if=~/.local/share/WSJT-X/save/211212_2144.c2 skip=26 ibs=1 of=211212_2144.raw

I suggest that you make the read and write options of rtlsd_wsprd use the same format as wsjt-x for easier testing

See writec2file() that writes a header with filename, duration in minutes (2 or 15 I think) and dial freq

[2021-12-15 01:01] Guenael commented on #59
@dforsi yep, good idea, for both points. I add this in my todo-list :)

[2021-12-15 01:03] Guenael opened #84 "Sample file format should fit .c2 standard & file path should be used as a pointer (larger path)"

[2021-12-15 04:17] Guenael commented on #59
Some updates, I ran a couple of tests, and I found something interesting.
With a fresh image of buster, my apps worked fine, and after the update, I got the 100% CPU issue (possible issue with pthread).

Before this update, the OS was booted with a kernel `4.19.50-v7+` and after `5.10.63-v7+`.
I don't understand what is going on, but this is a clue :)

Details below:

[code]

[code]

If you just w

[2021-12-15 23:18] Guenael commented on #59
@IZ7BOJ @dforsi @sm3ulc @mkarliner : Alfredo (IZ7BOJ) found the root cause of this issue and provided a solution.
The issue come from `librtlsdr-dev` package. On a recent update, I added this library directy in the list of the packages to install with APT, because it removes a step. I guess this package was not compiled with the same options, and installing this package manually solve the issue!

[2021-12-16 03:27] Guenael commented on #59
Hi all!

I updated the doc, and made two release:
- https://github.com/Guenael/rtlsdr-wsprd/releases/tag/0.3.3 : Previous version, not so far from the 0.2, with some extra feature & fix (self-test, read, write, add. args etc...)
- https://github.com/Guenael/rtlsdr-wsprd/releases/tag/0.4.0 : A new one, with a major refactor on the acquisition strategy, to use double buffering.

Let me know if it wo

[2021-12-16 12:26] mkarliner opened #94 "Direct Sampling Mode hard coded to 1"
rtl_result = rtlsdr_set_direct_sampling(rtl_device, 1);

[2021-12-16 12:27] mkarliner commented on #94
However, when changed to 2...
![image](https://user-images.githubusercontent.com/1651042/146371942-348d9970-7be5-4014-a8ad-2db136fdf2e2.png)

[2021-12-16 17:29] mkarliner commented on #59
Hooray!

[2021-12-16 17:29] #59 closed

[2021-12-16 18:30] mkarliner opened #95 "0.4.0 no decodes"
./rtlsdr_wsprd -w 0.4test -d 2 -f 20m -c G8LKD -l IO91VN
Saving IQ file planned with prefix: 0.4test
Found 1 device(s):
  0:  Realtek, RTL2838UHIDIR, SN: 00000001

Using device 0: Generic RTL2832U OEM
Found Rafael Micro R820T tuner
Enabled direct sampling mode, input 2

Starting rtlsdr-wsprd (2021-12-16, 18:13z) -- Version 0.4.0
  Callsign     : G8LKD
  Locator      : IO91VN
  Dial freq.   : 14095

[2021-12-16 22:37] IZ7BOJ commented on #94
You’re right, I always used 2 !
It seems that in this last version it’s not possible to pass 0/1/2 as integer parameter

[2021-12-17 00:28] mkarliner opened #96 "CPU maxed out after end of cycle"
It seems we are not quite there yet...

I'm seeing 100% CPU usage at 1 or 2 seconds into the new cycle for a few seconds.
That is at even minute + 1 to +10..

I suspect this is interfering with sampling enough that 1 in every 2 or three cycles
does not get any spots.

No spot 2021-12-17 00:20z
Spot :  2021-12-17 00:22:21  41.94   0.26   7.040106  1   EA6RD   JM19 27
Spot :  2021-12-17 00:22:21  34

[2021-12-17 04:16] Guenael commented on #96
The short 100% CPU burst is fully legit, this is the decoder thread, starting after each acquisition. I will rollback the direct-sampling option, it could be the issue in this case.

[2021-12-17 04:16] Guenael commented on #94
Hi, you're right!
I will rollback this direct-sampling option.

[2021-12-17 05:38] mkarliner commented on #96
Yep. It's legit, but I would have thought the thread should be launched at the end of the sequence at 50 seconds past the odd minute. The decode seems to be launched at the beginning of the even minute.

[2021-12-17 06:00] Guenael commented on #96
Hum ok. I will check this too. In the past, the decoding was started after 116 sec. Now the full sampling takes 120sec.

The new logic is in this loop:
https://github.com/Guenael/rtlsdr-wsprd/blob/main/rtlsdr_wsprd.c#L972

[code]
Basically:
- wait 120 sec
- write to the other buffer & reset the pointer to the beginning of this new buffer
- start the decoder

I will put some `printf("DBG...` and do

[2021-12-17 06:22] Guenael commented on #94
I fixed the direct sampling option:
https://github.com/Guenael/rtlsdr-wsprd/pull/97

And made a new release to include this fix:
https://github.com/Guenael/rtlsdr-wsprd/releases/tag/0.4.1

Hope this helps.

[2021-12-17 06:22] #94 closed

[2021-12-17 06:27] Guenael commented on #96
@mkarliner Additional note, the first decoding is dead, it start on an incomplete buffer, but I don't wanted to make a special case for it now. Please ignore the first decoding entry.

BTW, I fixed the direct sampling option:
https://github.com/Guenael/rtlsdr-wsprd/pull/97

And made a new release to include this fix:
https://github.com/Guenael/rtlsdr-wsprd/releases/tag/0.4.1

I was not able to rep

[2021-12-17 06:28] Guenael commented on #95
About this post, did you fixed the `-d 2` by yourself? Or is it related to the other issue with the direct sampling?

[2021-12-17 20:11] Guenael opened #98 "Some posts are reported 1 min earlier"

[2021-12-17 20:11] Guenael commented on #98
@IZ7BOJ FYI, I will fix this quickly

[2021-12-18 00:15] Guenael commented on #32
Completed here : https://github.com/Guenael/rtlsdr-wsprd/pull/99
But server side, the API no longer accept this kind for report...

[2021-12-18 00:15] #32 closed

[2021-12-18 00:21] Guenael commented on #41
@IZ7BOJ
Hi Alfredo,
Instead of parsing the console to collect the logs/spots, it could be possible to upload the spots directly on your web-site with an additional https request.
LMK

[2021-12-18 00:40] Guenael commented on #98
Timing stuff reworked, seems working, reports about that are appreciated!

[2021-12-18 00:40] #98 closed

[2021-12-18 00:41] Guenael commented on #96
Patched with the latest release 0.4.2
https://github.com/Guenael/rtlsdr-wsprd/releases/tag/0.4.2

[2021-12-18 00:41] #96 closed

[2021-12-18 13:13] IZ7BOJ commented on #41
Thanks Guenael,
my web server runs on a raspberry and doesn't have a database.
The only way that I have to keep the spot history and show it on a web page is a log file.
Actually wsprd doesn't have a log, so my workaround is a stdout redirect to a file, but I had in mind to add a log option to rtlsdr_wsprd and make a pull request on github, as soon as I have time for it :-)
Bests,
Alfredo

[2021-12-18 23:06] dforsi opened #101 "Less decodes than WSJT-X"
The .c2 file in [211212_2142.zip](https://github.com/Guenael/rtlsdr-wsprd/files/7740060/211212_2142.zip) was saved by WSJT-X 2.5.2 which decodes the following 3 signals from the corresponding .wav file (it doesn't read back the .c2 file):
[code]

but rtlsdr-wsprd 0.4.2 decodes only one signal:
[code]

I made this simple change to just skip the header [skip-26-bytes.txt](https://github.com/Guenael/

[2021-12-18 23:17] dforsi commented on #101
Strangely, copying the command shown by WSJT-X in its status line gets the same decode as rtlsdr-wsprd:
[code]
Removing "-C 500" gets one more decode:
[code]
I'm attaching the .wav file [211212_2142.zip](https://github.com/Guenael/rtlsdr-wsprd/files/7740091/211212_2142.zip)

[2021-12-18 23:50] Guenael commented on #101
@dforsi Hi,

Ok, there are many things to discuss on your previous comment. Initially, I started to write:

1. Interesting report! I was on my plans to update `rtlsdr-wsprd` to the latest version of `wsprd` wrote by K9AN (included in `lib/wsprd` of `wsjtx`).

    There are some improvements I guess, but the fact you get different reports between wsjt-x and the latest version of wsprd, shows that

[2021-12-19 00:04] Guenael commented on #101
Hum... I missed the first Zip, with the .c2 file.
I will take a look :) And I will use your patch to import .c2 files, but with another option to keep the simple .iq file format available.

[2021-12-19 00:09] Guenael commented on #101
@dforsi Ahhh, another thing to check on your side. wsprd can use a hash file, and this file include your previous decoded stations. Reusing entries stored can ease the decoding of very weak signals, because it can search them specifically (it's a bit cheating, you know what you are looking for :D )
That could explain the difference. Try to locate and delete this file to check if there is any diffe

[2021-12-19 00:28] #95 closed

[2021-12-19 11:13] mkarliner commented on #95
I just hard coded a 2 to check the direct sampling. As I checked the code in ft8
and saw that it was correct there, I left it to you to do the.

[2021-12-19 11:20] mkarliner commented on #101
I have a suspicion that I'm see the same effect of different numbers of spots, but it's hard to check.
My method is to either run rtlsdr-wsprd on the Pi or rtl_tcp pipe to gqrx to WJTX in the shack, so the hardware
is the same. Trouble is, here in my very urban area, consecutive
results are not consistent enough to be sure.

[2021-12-19 17:18] Guenael commented on #95
@mkarliner I roll-backed this part, you should be able to use `2` directly in the options.
Change here and here:
https://github.com/Guenael/rtlsdr-ft8d/blob/main/rtlsdr_ft8d.c#L982
https://github.com/Guenael/rtlsdr-ft8d/blob/main/rtlsdr_ft8d.c#L1082

[2021-12-19 17:46] Guenael commented on #101
I will update to the latest version of wsprd back-end, but on the decoder part, that's all I can do. I don't want to play with the decoder itself, too many dragons...
WSPR should be received within +/-200 Hz, and my FIR CIC compensation filter add this constrain, I can enlarge the BW, if you want make a try (on a side branch). But when you load some samples from external files, this FIR filter in

[2021-12-21 01:28] Guenael opened #108 "TODO -- update to the latest version of wsprd code"

[2021-12-21 01:29] Guenael opened #109 "TODO -- Remove A000AA spots"
Remove these spot with a Strcmp test if a recent version of wsprd didn't fix this.

[2021-12-22 17:26] helioshk opened #110 "Faulty SNR reports"
Hi,
A number of erroneous SNR reports popped up on wsprnet, all of them reporting version rtlsdr-wspr.
The users report much too high SNR, up to +60 dB.
Let me know if you need examples.

[2021-12-22 18:58] IZ7BOJ commented on #110
Hi, I’m checking my received spots and I confirm they’re too high compared
to the results obtained with old version of rtlsdr_wsprd
I hope Guenael can have a look into the code
Alfredo IZ7BOJ

Il giorno mer 22 dic 2021 alle 18:26 helioshk ***@***.***> ha
scritto:

[2021-12-22 22:07] Guenael commented on #110
Hum... I will check the code, but wsprd is supposed to calculate the SNR, and your input signal should have no impact.
@helioshk Could you give some details on your conf? (command line used, version etc. A copy paste of the app init. should do the job.)

[2021-12-22 22:17] helioshk commented on #110
I'm not running rtlsdr-wsprd, I only noticed the anomalous spots. Perhaps @IZ7BOJ can provide the config but numerous users seem to be affected.

[2021-12-22 22:33] Guenael commented on #110
@helioshk the version of `rtlsdr-wsprd` is included in each post ([code](https://github.com/Guenael/rtlsdr-wsprd/blob/main/rtlsdr_wsprd.c#L327)), do you know if it's possible to filter on this specific `version` field?

I take a look [here](https://www.wsprnet.org/olddb) and [here](https://www.wsprnet.org/drupal/wsprnet/spotquery) but I didn't found the right option. How did you get the clue about

[2021-12-22 22:44] helioshk commented on #110
@Guenael On this site it is possible to search for spots submitted by specific versions: http://wspr.rocks/ in the "advanced search" menu

[2021-12-22 22:54] Guenael commented on #110
@helioshk Nice, TIL!! :+1:
And I will update my `version` field, to fit something smaller.

[2021-12-23 04:46] Guenael commented on #110
I upgraded to a more recent version of wsprd, it could have fixed this issue at the same time.
But I will add another function to load the regular .c2 files and made some comparison/benchmark.
I also updated the version field of my app: `rtlsdr-050` for now.

[2021-12-23 04:46] Guenael commented on #108
Completed here : https://github.com/Guenael/rtlsdr-wsprd/pull/111

[2021-12-23 04:46] #108 closed

[2021-12-23 04:55] Guenael commented on #101
@dforsi the command line with `-o` option (ex. `$ /usr/bin/wsprd -o 4 -d 211212_2142.c2`) provide additional depth using this Fortran function `osdwspr`. I will not include this file to this project, out of scope. But it's technically possible to build a similar project with the Fortran files.

[2021-12-23 05:57] Guenael commented on #109
Fixed in this MR: https://github.com/Guenael/rtlsdr-wsprd/pull/112

[2021-12-23 05:57] #109 closed

[2021-12-23 14:29] Guenael commented on #110
@Rilapy Just to be sure that I understand. With `rtlsdr-wsprd`:
- Reported SNR are higher
- But when decoded from a .c2 sample, console reports are fine.
Is it correct?

[2021-12-23 20:33] Guenael commented on #110
I opened this branch, to try to fix this issue:
https://github.com/Guenael/rtlsdr-wsprd/tree/snr-fix

[2021-12-23 20:51] Guenael commented on #101
@dforsi Could you upload the content of your `hashtable.txt` file? (from wsjt-x)

[2021-12-23 22:14] Rilapy commented on #110
That is correct.

[2021-12-23 23:07] Guenael commented on #84
Completed here : https://github.com/Guenael/rtlsdr-wsprd/pull/113

[2021-12-23 23:07] #84 closed

[2021-12-24 00:32] Guenael commented on #110
This is a tricky one... WSPRnet format didn't change, the string is formatted adequately, I tested a fake spot and it works. When decoded from a file, it looks good. I will need some help! Can someone:
- Record an .iq sample, zip it and post-it here
- For this spot, past the output message from the console
- And copy the exact line reported on WSPRnet
- (Please use the latest version)

Thanks!

[2021-12-24 03:30] Rilapy commented on #110
6m wspr into a dummy load. Power low enough I can not see it on my power meter.  Rtlsdr + rpi 3B+ as the receiver.

commit 0e9c8d25d30f08dbd2e8d218572a751d21a38fcf
Spot :  2021-12-24 01:34:01  -2.06  -0.89  50.294480 -4  VK4XJB   QG52 37

commit 72f528cd60f47fe259751641043072bd16db4782
Spot :  2021-12-24 01:25:59  30.19  -0.87  50.294481 -4  VK4XJB   QG52 37

72f528cd60f47fe259751641043072bd16db47

[2021-12-24 05:29] Guenael commented on #110
@Rilapy Many thanks for this investigations and your time! :heart_decoration:

I misunderstood how the SNR was calculated, but today I learned!
We need to conduct one more test, but I think I understand the problem.

I plaid guilty on this one! :) I updated the FIR coefs, with one specific side effect. The calculated noise floor of the total BW changed, because I removed the unused part of the spe

[2021-12-24 07:46] Rilapy commented on #110
Results copy/pasted from the wsprnet site. The 7:34 time stamp is wsjt-x and 7:26 time stamp is rtlsdr-wsprd with the above FIR removal patch. +4 is a lot closer than the +51 I was getting earlier.

 2021-12-24 07:34 VK4XJB 50.294544 -6 -2 QG52xh 5 VK4XJB/PI QG52xh 0 0 2
 2021-12-24 07:26 VK4XJB 50.294481 +4 0 QG52xh 5 VK4XJB/PI QG52xh 0 0 2

[2021-12-24 07:52] Guenael commented on #110
Nice, but the FIR filter was here to compensate the CIC (significant db loss at higher frequencies). It didn't give good results with the legacy filter?

[2021-12-24 07:58] Rilapy commented on #110
Bingo.

2021-12-24 07:54 	 VK4XJB 	 50.294483 	 -4 	 0 	 QG52xh 	 5 	 VK4XJB/PI 	 QG52xh 	 0 	 0 	 2

I did not think to update. I applied that FIR patch in the comment to the code I already had. Did a git pull and tried again. That is copy/past from wsprnet. That looks good.

[2021-12-24 08:55] Guenael commented on #110
Not sure to understand with these two options. Could you confirm?
Did the latest `git pull origin main` solve the issue? (in other words, did the legacy filter allows you to get this good report?)

[2021-12-24 09:25] Rilapy commented on #110
Had tried that patch that removed FIR because that was the 1st thing I saw and it was close. Did not think to update till later.

git log says I am now on
commit 5a25fad1bdc3391f5e269188368e3cd926813d0d (HEAD -> main, origin/main, origin/HEAD)

The good signals have been since I changed to this commit.

[2021-12-24 17:08] Guenael commented on #110
@Rilapy OK, thank you for this confirmation!
And another time, thanks for your testing.

[2021-12-24 17:29] #110 closed

[2021-12-24 17:30] #101 closed

[2021-12-24 18:11] Guenael commented on #31
Possible option with a post file transfer. Ex:
- https://github.com/ve3gtc/uploadWspr/blob/master/uploadWspr.py
- https://github.com/PA7T/wspr-uploader/blob/master/ALL_WSPR.txt

Formatting:
[code]

ADIF conversion: https://github.com/notFloran/wspr_to_adif

[2021-12-24 22:15] dforsi commented on #101
Thank you for you explanation. From the --help of wsprd about the `-o` option ( `-o n (0<=n<=5), decoding depth for OSD, default is disabled`) it isn't clear that it is using the Fortran code.

Here is my [hashtable.txt](https://github.com/Guenael/rtlsdr-wsprd/files/7775161/hashtable.txt) anyway.

BTW, initially I passed the wrong arguments when running wsprd, this explains the differences in my s

[2021-12-24 23:22] Guenael commented on #101
@dforsi OK, I got it, it's related to the 'a priori' decoding. Without your hashtable, you will only got 1 entry, and with the hashtable, you will get 3.

[code]

And if you remove `-o` option, the decoder will not find your 2 additional spots, even with the hashtable.

[code]

Some details about this option and function:

https://sourceforge.net/p/wsjt/wsjtx/ci/master/tree/lib/wsprd/wsprd.c#l853

[2021-12-24 23:25] Guenael commented on #101
If you want to increase you detection ratio with wsjtx, you can take all the entries on WSPRnet, build you hastable, and replace your original file ;)

[2021-12-27 11:52] Rilapy opened #121 "using -n including rtlsdr_wsprd won't exit"
I am using 7e3070a39f31816b75568cc114875905385d1529

When using the -n option rtlsdr_wsrpd does not exit after the specified number of cycles. The main loop does exit but the program gets hung up waiting for pthread_join(decState.thread, NULL);

The decoder() function uses rx_state.exit_flag in it's while loop. Without that flag being set to true the loop keeps going so decoder() never returns and

[2021-12-27 20:00] Guenael opened #123 "Feat: debugging option to not report spots on WSPRnet"

[2021-12-27 20:05] Guenael commented on #121
@Rilapy I will take a look, thanks for this bug report.

[2021-12-30 03:31] Guenael commented on #121
@Rilapy I fixed it in this MR: https://github.com/Guenael/rtlsdr-wsprd/pull/124/files
The latest version should work, LMK.

Note: You have to start your RX before the new minute starts, otherwise, you will lose a cycle, but your TX is shorter than 120 sec anyway, it should not be a problem.

[2021-12-30 03:48] Guenael commented on #123
Completed in this MR : https://github.com/Guenael/rtlsdr-wsprd/pull/126

[2021-12-30 03:48] #123 closed

[2021-12-30 22:56] Rilapy commented on #121
After your comment about 19 hours ago it has been exiting cleanly for me.

An update you did since then looks like rtls_wsprd has stopped counting the initial wait as a cycle. That gets rid of the confusion of -n 1 exiting before starting a decode cycle. In the last hour -n 1 or -n 2 or -n 3 have been reliably giving me 1 or 2 or 3 decode cycles instead of the old behavior of 0 or 1 or 2 respectiv

[2021-12-30 23:03] Guenael commented on #121
Yep, now if the first RX is incomplete, it will not count it as a cycle.

[2021-12-30 23:03] #121 closed

[2021-12-31 07:25] Guenael commented on #41
I created a branch for PSKreporter testing:
https://github.com/Guenael/rtlsdr-wsprd/tree/pskreporter

[2021-12-31 18:45] Guenael opened #129 "RBN upload options"
To explore:
https://github.com/bjornekelund/upload-to-rbn/blob/master/upload-to-rbn.c
https://github.com/in3aqk/reverseBeacon/blob/master/reverseBeacon.py

[2022-10-18 00:23] bradshawlupton opened #131 "wsprnet.org post results in 0 of one uploaded from rtlsdr-wsprd and when placed in safari browser"
http://wsprnet.org/post?function=wspr&rcall=wb2tev&rgrid=FN41&rqrg=28.126205&date=221018&time=0016&sig=-16&dt=-1.0&tqrg=28.126205&tcall=WB2TEV&tgrid=FN40&dbm=8&version=rtlsdr-054&mode=2

I compared this to the specification and it looks good, any suggestions will be appreciated.

Reception and decoding is perfect.

Bradshaw k1TE, Buzzards Bay, MA

[2022-10-18 02:03] Guenael commented on #131
@bradshawlupton Usually WSPRnet reject your post if it is not aligned within 5 minutes. Please double check your date/time when using wsprd, and if you do a manual post with `curl` or your web-browser, adjust the date. GL

[2022-11-17 12:29] Swell1 commented on #131
Dear Friends
Sorry I&#39;m somehow not able to originate a mail to you using this system, so I am replying to all.

Subject: Bullseye on RPi needs addition to script

Hello
I&#39;ve been using your wonderful script for 2 years or more. I have used two RPi Zero W with Buster on them and the wsprd.
This week I resumed using them after a long time and updated and upgraded both. In one case the udev r